@import "libs/pure.css";
/** 颜色 */
/** 字体 */
/** 喜闻乐见 */
/** 网页变量 */
.red {
  color: #fd0002;
}
.green {
  color: #0bbb98;
}
.blue {
  color: #36a5fa;
}
.orange {
  color: #f7660e;
}
.black {
  color: #2f2f2f;
}
.purple {
  color: #b99a0a;
}
.light-yellow {
  color: #f69b26;
}
.pink {
  color: #fa8f8f;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.hidden {
  display: none;
}
.visible {
  display: block;
}
.fluid {
  display: block;
}
.width {
  width: 1100px;
}
.container {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
.page {
  padding: 1em;
}
.pure-button {
  background-color: #f8a945;
  color: white;
  border-radius: 2px;
}
.pure-button:hover {
  color: white;
}
.button-secondary {
  background-color: #0bbb98;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  border: 0;
  font-style: normal;
}
body {
  background-color: #eeeeee;
  font-family: "microsoft YaHei", Arial, sans-serif;
  color: #313131;
}
a {
  text-decoration: none;
  color: #313131;
}
